$font:'Bebas Neue';

*{
    font-family: $font;
    text-transform: uppercase;
}


div{
    .header{
        background: #EB3349;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
        color: #F1F1F1;
        font-family: 2rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;
    }
    .description{
        background: #fc4a1a;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #F1F1F1;
        font-family: 2rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}