<div>
    <section class="header">
        <h1>Esta es una aplicación web de clima</h1>
        <h4>Permite saber la temperatura en tiempo real de cada ciudad del mundo.</h4>
        <h4>API : <span><a href="//openweathermap.org/api">openweathermap.org/api</a></span></h4>    
    </section>
    <section class="description">
        <div class="container">
            <h5>Este proyecto consta de un formulario en la que se introduce como datos el nombre de 
                la ciudad y el código del país, con esto obtendremos los datos del clima de ese lugar
                através de la API de <a href="//openweathermap.org/api">Open weather map</a>
            </h5>
            <div class="buttons">
                <button class="btn btn-danger" routerLink="/clima">Ver app</button>
            </div>
        </div>      
    </section>
</div>